<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><a href="/first_app/home/">Home</a></h1>
    <h1><a href="/first_app/about/">About</a></h1>
    <h1><a href="/first_app/service/">Service</a></h1>
    <h1>Hello I am from HOME</h1>
    <h1>{{name}}</h1>
    <h1>{{age}}</h1>
    <h1>{{ courses | join:" - " }}</h1>
    <h1>{{ enroll_date | date:"D d M Y" }}</h1>
    <h1>{{ courses | first }}</h1>
    <h1>length : {{ empty | length }}</h1>
    <h1>{{ name | title }}</h1>
    <h1>{{ courses | slice:":2" }}</h1>
    <h1>{{ name | truncatechars:7 }}</h1>
</body>
</html>